{{message$ | async}}

<button (click)="spanishMessage()">Spanish</button>
<button (click)="frenchMessage()">French</button>


<div *ngIf="post$ | async as p">
  <h2>{{p.text}}</h2>
  <h4>Votes: {{p.likes}}</h4>

  <button (click)="upvote()">Upvote</button>
  <button (click)="downvote()">Downvote</button>
  <button (click)="resetPost()">Reset</button>

  <input [(ngModel)]="text">
  <button (click)="editText()">Change text</button>
</div>


<app-car-form></app-car-form>


<div>
  <ul>
    <li *ngFor="let car of (carState$ | async).cars">
      {{car.name}}
      <button (click)="deleteCar(car)"></button>
    </li>
  </ul>
</div>


<button (click)="loadCars()">Load Cars</button>
